@import "./variables", "./base", "./mixins";

.footer {
	display: flex;
	justify-content: space-between;
	border-top: 2px solid $basic-grey;
	padding: 24px 8px 37px;
	gap: 20px;
}

.politics-list {
	@include list-reset;
	display: flex;
	flex-wrap: wrap;
}

.politics-item {
	padding: 0 4px 0 0;
	border-right: 1px solid $basic-grey;
	margin: 0 4px 5px 0;

	&:first-child {
		padding: 0 4px 0 0;
	}

	&:last-child {
		border-right: none;
	}
}

.politics-link {
	font-size: 12px;
	line-height: 12px;
	color: $basic-green;
	letter-spacing: -0.02em;

	&:hover {
		text-decoration: underline;
	}

	&:active {
		text-decoration: none;
	}
}

.copyright {
	font-size: 12px;
	line-height: 12px;
	letter-spacing: -0.02em;
	color: $basic-grey;
	margin: 0;
	padding: 0;
}

.socials-list {
	@include list-reset;
	display: flex;
	gap: 4px;
}

.socials-link {
	&:hover .socials-img path {
		fill: $basic-green;
	}

	&:active .socials-img path {
		fill: $basic-grey;
	}
}