$basic-black: #000000;
$basic-white: #FFFFFF;
$basic-opacity-black: rgba(0, 0, 0, 0.25);
$basic-opacity-white: rgba(255, 255, 255, 0.6);
$basic-green: #34ACA7;
$basic-light-green: #EFF8F7;
$basic-active-green: #D9EFEC;
$basic-grey: #E5E5E5;
$basic-dark-grey: #BBB9B9;
$basic-light-grey: #F4F3F3;

$main-font: "Arial",
sans-serif;

$sub-font: "Verdana",
sans-serif;

$mobile-width: 480px;
$mobile-width-L: 768px;
$tablet-width: 992px;
$tablet-width-L: 1176px;